@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this Recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Rating)
  @Html.EditorFor(model => model.Rating)

  @Html.LabelFor(model => model.Instructions)
  @Html.EditorFor(model => model.Instructions)

  @Html.LabelFor(model => model.CookTime)
  @Html.EditorFor(model => model.CookTime)

  @Html.LabelFor(model => model.Yield)
  @Html.EditorFor(model => model.Yield)

  @Html.Label("Select category")
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>